{% extends 'Cl1pBundle::base.html.twig' %}

{% block body %}

    <div class="ui large message">
        <h1 class="ui huge header">Welcome to cl1p!</h1>

        <p>Welcome to cl1p, An Online Cl1p board ! </p>
        <a href="{{ path('pi0_cl1p_default_help') }}" class="ui blue button">Learn more</a>
    </div>

{% endblock %}